
@{
    List<ServerApi> servers;
    try
    {
        string json = new WebClient().DownloadString("http://192.168.0.9:5005/api/getonlineplayers");
        servers = JsonConvert.DeserializeObject<List<ServerApi>>(json);
    }
    catch
    {
        servers = new() { new ServerApi { Id = -1, Name = "Информация не доступна" } };
    }
    
}
 @*<script type='text/javascript'>document.write(api.hostname);</script> :*@


@foreach(ServerApi server in servers)
{
    <div class="iplist">
        <b style="text-align: center; width: 100%; float: left; ">@server.Name</b>
        <br>Карта:
        <span style="color: white; float: right;">
            @server.Map
        </span>
        <br>Адрес:
        <a href="steam://connect/@server.RemoteIP:@server.RemotePort" style="color: white; float: right;">
            @server.RemoteIP:@server.RemotePort
        </a>
        <br>Текущая версия:
        <b style="color: red; float: right; ">
            @server.Version
        </b>
        <br>Статус сервера:
        @if (server.Id > 0)
        {
            <font style='color: greenyellow;float: right;'>Работает</font>
        }
         else {
            <font style='color: red;float: right;'>Недоступен</font>
        }
        @if (server.Players.FirstOrDefault().Id == "0")//Если ошибка или нет игроков то прилетает всегда 1 игрок с ид <=0
        {
            @Html.Raw("<br>Список игроков(0): <br>Нет игроков")
    }
        else
        {
             @Html.Raw("<br>Активных игроков:<b style=\"float: right;color: greenyellow;\">" + @server.Players.Count + "</b> <br>")
             foreach (var player in @server.Players)
                    {
                        @Html.Raw("\"" + player.User + "\" ")
                    }
        }

    </div>
    
}

@*
    <b style="text-align: center; width: 100%; float: left; ">[RU][PVE]Classic Server</b>
    <br>Карта:
    <span style="color: white; float: right;">
        <script type='text/javascript'>document.write(api.mapname);</script>
    </span>
    <br>Адрес:
    <a href="steam://connect/aparshukov.ru:7777" style="color: white; float: right;">
        62.165.30.122:7777
    </a>
    <br>Текущая версия:
    <b style="color: red; float: right; ">
        <script type='text/javascript'>document.write(api.version);</script>
    </b>
    <br>Статус сервера:
    <script type='text/javascript'>
        if (api.status == 1) {
            document.write("<font style='color: greenyellow;float: right;'>Работает</font>");
        }
        else {
            document.write("<font style='color: red;float: right;'>Недоступен</font>");
        }
    </script>
     @if (players != null)
            {
                if (@players.Count == 1)
                {
                    bool error = players.FirstOrDefault().Id == "Error";
                    if (error)
                        @Html.Raw("<br>Список игроков(0): <br>" + @players.FirstOrDefault().User)
                    else
                        @Html.Raw("<br>Активных игроков:<b style=\"float: right;color: greenyellow;\">" + @players.Count + "</b> <br>")

            }
                else
                {
                    @Html.Raw("<br>Активных игроков:<b style=\"float: right;color: greenyellow;\">" + @players.Count + "</b> <br>")
                    foreach (var player in players)
                    {
                        @Html.Raw("\"" + player.User + "\" ")
                    }
                }


            }
            else 
            @Html.Raw("<br>Список игроков(0): <br>Нет игроков")
    *@
