@page
@model IndexModel
@{
    ViewData["Title"] = "Новости";
    
}

<body>
    
    
    <div id="News">
        @*Главная новость, та которая последняя*@
        <div class="first-content">
           
            <div style="margin-left: 10px; height: 300px; overflow: hidden ">
                <a href="/news/@Model.ID" style="color: #ffffff; display: block; height: 100%;text-decoration:none;">
                    <div style="height: 90%; overflow: hidden;">
                        <h1>
                            @Model.Title
                        </h1>
                        @Html.Raw(Model.Desc)
                    </div>
                    <div style="padding: 5px; text-align: right;">
                        @Html.Raw(Model.Date)
                    </div>
                    
                </a>
            </div>
           
        </div>
        <div class="content-gen">
            @foreach (var news in Model.News)
            {
                <div style="padding-left: 10px; height: 300px; overflow: hidden; background: #44414d;">

                    <a href="/news/@news.Id" style="color: #ffffff; display: block; height: 100%;text-decoration:none; ">

                        <div style="height: 90%; overflow: hidden;">
                            <h1>
                                @news.Title
                            </h1>
                            @Html.Raw(news.Description)
                        </div>
                        <div style="padding: 5px; text-align: right;">
                            @Html.Raw(news.DateNew.ToString("yyyy-MM-dd"))
                        </div>

                    </a>
                </div>

            }
        </div>
    </div>

</body>