@using System.Net.Http
@inject ApplicationContext db
@{

    List<ServerApi> servers;
    try
    {
        var api =db.APISetting.Where(x => x.ID == 1).FirstOrDefault().ApiHost;
        HttpClient client = new HttpClient();
        HttpResponseMessage response = await client.GetAsync(api);
        //response.EnsureSuccessStatusCode();
        string json = await response.Content.ReadAsStringAsync();
        servers = JsonConvert.DeserializeObject<List<ServerApi>>(json);
    }
    catch
    {
        servers = new() { new ServerApi { Id = -1} };
    }
    
}
@foreach(ServerApi server in servers)
{
    <div class="iplist">
        @if (server.Id > 0)
        {
            @Html.Raw("<b style=\"text-align: center; width: 100%; float: left; \">");
            @server.Name
            @Html.Raw("</b>");
            @Html.Raw("<br>Карта:");
            @Html.Raw("<span style=\"color: white; float: right;\">");
            @server.Map
            @Html.Raw("</span>");
            @Html.Raw("<br>Адрес:");
            @*<a href="steam://connect/@server.RemoteIP:@server.RemotePort" style="color: white; float: right;">*@
            @Html.Raw("<a href=\"steam://connect/");
                @server.RemoteIP
            @Html.Raw(":");
                @server.RemotePort 
            @Html.Raw("\" style=\"color: white; float: right;\">");
                @server.RemoteIP
            @Html.Raw(":");
                @server.RemotePort
            @Html.Raw("</a>");
            @Html.Raw("<br>Текущая версия:");
            @Html.Raw("<b style=\"color: red; float: right; \">");
                @server.Version
            @Html.Raw("</b>");
            @Html.Raw("<br>Статус сервера:");
            @Html.Raw("<font style='color: greenyellow;float: right;'>Работает</font>");
           
            @if (server.Players.FirstOrDefault().Id == "0")//Если ошибка или нет игроков то прилетает всегда 1 игрок с ид <=0
            {
                @Html.Raw("<br>Список игроков(0): <br>Нет игроков")
            }
            else
            {
                 @Html.Raw("<br>Активных игроков:<b style=\"float: right;color: greenyellow;\">" + @server.Players.Count + "</b> <br>")
                 foreach (var player in @server.Players)
                        {
                            @Html.Raw("\"" + player.User + "\" ")
                        }
            }
        }
        else 
        {
            @Html.Raw("<b style=\"text-align: center; width: 100%; float: left; \">Мониторинг серверов недоступен</b>");
            @Html.Raw("<br>Статус сервера:");
            @Html.Raw("<font style='color: red;float: right;'>Недоступен</font>");
        }
        

    </div>
}